# Ignore the virtual environment directory
<timesheetvenv>/

# Ignore platform-specific virtual environment files
*.pyc
*.pyo
__pycache__/

# Ignore pipenv specific files
Pipfile
Pipfile.lock
timesheetvenv/Lib/site-packages/_distutils_hack/__init__.py
timesheetvenv/Lib/site-packages/_distutils_hack/__init__.py
timesheetvenv/Lib/site-packages/_distutils_hack/__init__.py
timesheetvenv/Lib/site-packages/_distutils_hack/override.py
timesheetvenv/Lib/site-packages/distutils-precedence.pth
